@import "../common/base.css";

:root {
  --container-width: 788px;
  --logo-light: url("../assets/ediya/logo.svg");
  --primary-color: #24388d;
  --secondary-color: #bae5fb;
  --snow: #F5F5F5;
  --dark-gray: #14182c;
  --grayscale-black: #0F0F0F;
  --text-color: var(--dark-gray);
}

body {
  font-family: "Spoqa Han Sans", sans-serif;
  font-weight: 400;

  /* 로고 */
  .logo {
    a {
      display: block;
      block-size: inherit;
    }
    &.default {
      inline-size: 140px;
      block-size: 14px;
    }
    &.light {
      background: var(--logo-light);
    }
  }

  /* 텍스트 메뉴 */
  .text-menu {
    font-size: 0.9375rem;
    line-height: 1.4666666666666666;
    text-decoration: none;
    color: var(--primary-color);
  }

  /* 레이아웃 공통 */
  .ediya-wrap {
    display: grid;
    grid-template-columns: auto repeat(12, 43px) auto;
    column-gap: 16px;
  }

  /* header */
  .header {
    display: grid;
    grid-column: 2 / -2;
    grid-template-columns: subgrid;
    align-items: center;
    padding-block: 14px;

    .logo {
      grid-column: span 3;
    }
    .gnb {
      grid-column: 4 / -1;
      display: flex;
      margin-inline-start: auto;
      gap: 8px;
    }
  }
  .main-contents {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    section.banner {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: subgrid;

      .banner-top {
        grid-column: 1 / -1;
        min-block-size: 260px;
        padding-block-start: 50px;
        padding-block-end: 36px;
        background-color: var(--secondary-color);
        text-align: center;
      }
      .catchphrase {
        letter-spacing: -0.04em;
        color: var(--text-color);

        p:not(.description) {
          font-size: 1.9375rem;
          font-weight: 100;
          line-height: 1.1;
        }
        .description {
          font-size: 0.875rem;
        }
        strong {
          font-weight: 700;
          color: var(--primary-color);
        }
      }
      .product {
        grid-column: 2 / -2;
        position: relative;
        min-block-size: 260px;

        .menu-item {
          position: absolute;

          &.cheese-shake {
            inset-block-start: -212px;
            inset-inline-start: -54px;
          }
          &.choco-n-rice-shake {
            inset-block-start: -129px;
            inset-inline-end: -171px;
          }
        }
      }
    }
    section.board {
      grid-column: 1 / -1;
      min-block-size: 330px;
      padding-block: 62px;
      background: var(--snow);
    }
  }
  .content-info {
    grid-column: 1 / -1;
    min-block-size: 238px;
    background-color: var(--grayscale-black);
  }
}
