.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:focus {
  outline: none;
}

:focus-visible {
  box-shadow: 0 0 1px 1px #e18c8cb2;
}

:is(input[type="email"], input[type="text"], input[type="password"]) {
  box-shadow: none;
}
